<ion-view title='<img style="margin-left:30%;" class="title-image" src="img/exTracker.png" />'>
    <ion-nav-bar>
        <ion-nav-buttons side="center">
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
         <span style="margin-left:20%;"><i>Why Expense Tracker</i></span>

         <div style="padding-left:10%;">
                <p style="color:#0e3cec;font-size:18px;margin-top:4%;">Track your personal expenses on the go with this free easy-to-use app. This app would help you to make a budget and track your expenses in a simple way.</p>
                 <p style="font-size:18px;color:#F5A30D;">  Use ExpenseTracker to record the following types of expenses:</p>
                <ul>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;">Your weekly household budget</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;"> Costs of various unexpected expenditure</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;">Holiday or travel expenses</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;"> Coffees, lunches and any other cash expenses that you find hard to record</li>
                </ul>
               <p style="font-size:18px;color:#F5A30D;margin-top:10px;">  With ExpenseTracker you can:</p>
               <ul>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;">Separate 'needs' and 'wants' to identify opportunities to save</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;">View your expense history</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;">View items on which you spend most usually</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;">Maintain photos of bills,various expenses and keep it for your records,all in one place</li>
                     <li style="margin-left:10px;font-size:18px;color:#0e3cec;"> View expenses in a particular period</li>                    
                </ul>
        </div>
    </ion-content>
</ion-view>