<ion-view title='<img style="margin-left:30%;" class="title-image" src="img/exTracker.png" />'>
    <ion-nav-bar>
        <ion-nav-buttons side="center">
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
         <div style="font-size:14px;margin-top:50px">
                Track your personal expenses on the go with this free easy-to-use app. This app would help you to make
             a budget and track your expenses in a simple way.
             Use ExpenseTracker to record the following types of expenses:
                <ul>
                     <li>Your weekly household budget</li>
                     <li> Costs of various unexpected expenditure</li>
                     <li>Holiday or travel expenses</li>
                     <li> Coffees, lunches and any other cash expenses that you find hard to record</li>
                </ul>
               <ul>
                     <li>Separate 'needs' and 'wants' to identify opportunities to save</li>
                     <li>View your expense history</li>
                     <li>View items on which you spend most usually</li>
                     <li>Maintain photos of bills,various expenses and keep it for your records,all in one place</li>
                     <li> View expenses in a particular period</li>                    
                </ul>
        </div>
    </ion-content>
</ion-view>