<ion-view title='<img style="margin-left:30%;" class="title-image" src="img/exTracker.png" />'>
    <ion-nav-bar>
        <ion-nav-buttons side="center">
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <span style="margin-top:20%;margin-left:20%;"><i>Why Expense Tracker</i></span>
                <img src="img/saveMoney.png" style="width:350px;float:left'"/>

        <div style="padding-left:2%;">
            <p style="color:#387ef5;font-size:18px;margin-top:4%;padding-left:15px;">Track your personal expenses on the go with this free easy-to-use app. This app would help you to make a budget and track your expenses in a simple way.</p>
            <p style="font-size:18px;color:#F5A30D;padding-left:8px;"> Use ExpenseTracker to record the following types of expenses:</p>
            <ul>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;">Your weekly household budget</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;"> Costs of various unexpected expenditure</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;">Holiday or travel expenses</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;"> Coffees, lunches and any other cash expenses that you find hard to record</li>
            </ul>
            <p style="font-size:18px;color:#F5A30D;margin-top:10px;padding-left:8px;"> With ExpenseTracker you can:</p>
            <ul>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;">Separate 'needs' and 'wants' to identify opportunities to save</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;">View your expense history</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;">View items on which you spend most usually</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;">Maintain photos of bills,various expenses and keep it for your records,all in one place</li>
                <li style="padding-left:15px;font-size:18px;color:#387ef5;"> View expenses in a particular period</li>
            </ul>
        </div>
        <div>
        </div>
    </ion-content>
</ion-view>