<!-- <ion-view class="has-header padding">
  <button class="button button-energized" ng-click="addImage()">
	  Add image
  </button><br><br>
  <button class="button button-energized" ng-click="urlForImage()">
	  View image
  </button><br><br>
  <ion-scroll>
	  <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
  </ion-scroll>

</ion-view> -->
<ion-view class="has-header padding">
{{billCats}}
  <div class="row" ng-repeat="bCat in billCats">

     <div class="col-sm-6">
          <button class="button button-energized" ng-click="addImage({{bCat.id}})">
        	  Add image for {{bCat.category_name}}
          </button><br><br>

          <button class="button button-energized" ng-click="viewImages({{bCat.id}})">
              View Images for {{bCat.category_name}}
        </button><br><br>
     </div>
      <div class="col-sm-6"></div>
  </div>

</ion-view>
