<!-- <ion-view class="has-header padding">
  <button class="button button-energized" ng-click="addImage()">
	  Add image
  </button><br><br>
  <button class="button button-energized" ng-click="urlForImage()">
	  View image
  </button><br><br>
  <ion-scroll>
	  <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
  </ion-scroll>

</ion-view> -->
<ion-view class="has-header padding">
  <div class="row" >
    <div class="col-xs-12">
      {{bCat.category_name}}
    </div>
  </div>
  <div class="row" ng-repeat="bCat in billCats">
    <div class="row">
         <div class="col-xs-3">
           {{bCat.category_name}}:
         </div>
    </div>
      <div class="row">
          <div class="col-xs-4">
           <button class="button button-energized" ng-click="addImage({{bCat.id}})">
             Add
           </button>
         </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <div class="col-xs-4">
           <button class="button button-energized" ng-click="viewImages({{bCat.id}})">
               View
           </button>
         </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

       <div class="col-xs-4">
          <button class="button button-energized" ng-click="viewImages({{bCat.id}})">
            Delete
          </button>
        </div>
      </div>
<br/><br/><br/>
   </div>


  </div>

</ion-view>
