<ion-view title='<img class="title-image" src="img/exTracker.png" />'>
    <ion-nav-bar>
        <ion-nav-buttons side="center">
            <button class="right button button-icon icon ion-plus" ng-click="insert()">Add</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="row">
            <div class="col-xs-6">
                <!-- with name set -->
                <label class="item item-input">
                    <input ng-model="noOfDays" ng-blur="validateDaysNow(noOfDays)" type="text" placeholder="Set Days" >  
                </label></div>
            <div class="col-xs-6">
                <i ng-click="showInfo()" class="ion-information"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p ng-if="showErrorInDaysEntered" style="color:red" class="error">Please enter a number or leave it blank.</p>
                <div ng-show="infoMessage">
                    <h4 style="color:#EA9523;">Set Number of days to view history for a particular period.For eg, if you enter 30, then past 30 days records are shown. Setting days is applicable across for all categories. Leave it blank and you will get all records for the selected category.</h4>
                </div>


            </div>
        </div>
        <ion-list ng-if="categories.length>0">
            <ion-item style="padding:0px !important; border:0px !important" ng-repeat="category in categories">
                <div class="row">
                    <div class="col"><a href="#/lists/{{category.id}}/{{noOfDays}}">{{category.category_id}} {{category.category_name}}</a></div>
                    <div class="col"><a ng-click="editRecord('{{category.category_id}}','{{category.category_name}}')">Edit</a></div>

                    <div class="col"><a ng-class="{disabled: showErrorInDaysEntered}" href="#/lists/{{category.id}}/{{noOfDays}}">View Items</a></div>
                </div>
            </ion-item>
        </ion-list>
        <div>
            <span ng-show="noCatRecords" style="margin-left:45px;display:none;color:red !important;font-size:20px!important;">You haven't added any Category yet. Let's start by clicking "Add" on top</span>
        </div>
    </ion-content>
</ion-view>