
<!--<ion-view title='<img class="title-image" src="img/expLogo.png" />'>-->
<ion-view title='<img class="title-image" src="img/exTracker.png" />'>
  <ion-nav-bar>
  <ion-nav-buttons side="center">
      <button class="right button button-icon icon ion-plus" ng-click="insert()">Add</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
 </ion-nav-buttons>
</ion-nav-bar>
    <ion-content style="top:70px !important">
        <ion-list ng-if="categories.length>0">
            <ion-item ng-repeat="category in categories" href="#/lists/{{category.id}}">                
                <span> {{category.category_id}} {{category.category_name}} </span>
            </ion-item>
        </ion-list>
         <div>                
                <span  ng-show="noCatRecords" style="margin-left:45px;color:blue !important;font-size:20px !important;">You haven't added any Category yet. Let's start by clicking "Add" on top</span>            
        </div>
    </ion-content>
</ion-view>
