
<ng-form id="test" name="test">
 Content<input id="content" required ng-model="data.CategoryItemName" type="text" ng-maxlength="5"></input>
 <div class="help-block error" ng-show="test.content.$error.required">Required</div>

 Price<input ng-model="data.CategoryItemPrice" type="text"> </input>
    <p ng-if="showErrorPrice" style="color:red" class="error">Please enter a price</p>

 Unit <input ng-model="data.CategoryItemUnit" type="text"> </input>
    <p ng-if="showErrorUnit" style="color:red" class="error">Please enter a unit</p>

 Date <input type="date" ng-model="data.CategoryItemDate"></input>
     <p ng-if="showErrorDate" style="color:red" class="error">Please enter a date</p>

 </div>
 <!-- <form name="loginForm" ng-submit="$scope.login($scope.user);" novalidate>
            <label class="item item-input" ng-class="{ 'has-errors' : loginForm.username.$invalid && !loginForm.username.$pristine, 'no-errors' : loginForm.username.$valid}">
                <span class="input-label">name</span>
                <input name="username" type="text" placeholder="name" ng-model="$scope.user.username" required>
            </label>
            <label class="item item-input" ng-class="{ 'has-errors' : loginForm.email.$invalid && !loginForm.email.$pristine, 'no-errors' : loginForm.email.$valid}">
                <span class="input-label">email</span>
                <input name="email" type="email" placeholder="email" ng-model="$scope.user.email" required>
            </label>
            <label class="item item-input" ng-class="{ 'has-errors' : loginForm.password.$invalid && !loginForm.password.$pristine, 'no-errors' : loginForm.password.$valid}">
                <span class="input-label">password</span>
                <input name="password" type="password" placeholder="password" ng-model="$scope.user.password" required ng-minlength='5' ng-maxlength='10'>
            </label>
        </form>

        <!-- <input ng-model="data.wifi" type="password" placeholder="Password">
       <p ng-if="showError" style="color:red" class="error">Please enter a password</p>
       <input ng-model="data.wifi1" type="password" placeholder="Password">
      <p ng-if="showError" style="color:red" class="error">Please enter a wifi1</p>
      <input ng-model="data.wifi2" type="password" placeholder="Password">
     <p ng-if="showError" style="color:red" class="error">Please enter a wifi2</p> -->

       <!--

       https://forum.ionicframework.com/t/any-ionic-way-of-form-input-validation-and-summary-preview/11145/5  -->
