<ion-view title="Lists" style="height:80vh;">
  <ion-nav-bar>
  <ion-nav-buttons side="center">
      <button class="right button button-icon icon ion-plus" ng-click="insert()">Click</button>
  </ion-nav-buttons>
</ion-nav-bar>
    <ion-content>
      <ion-refresher
           pulling-text="Pull to refresh..."
           on-refresh="doRefresh()">
        </ion-refresher>
      <!-- <table> -->
    <!--  http://codepen.io/anon/pen/VKdBJd-->
          <div class="row header">
           <div class="col">Item Name</div>
            <div class="col">Price</div>
            <div class="col">Unit</div>
            <div class="col">Date</div>
            <div class="col"></div>
          </div>

          <div class="row" ng-repeat="list in lists">
            <div class="col">{{list.category_item_name}}</div>
            <div class="col">{{list.category_item_price}}</div>
            <div class="col">{{list.category_item_unit}}</div>
            <div class="col">0</div>
            <div class="col"><a href="#/itemHistory/{{list.category_item_name}}"><button class="button">Show History</button></a></div>

        </div>

          <!-- </ion-item> -->
      <!-- </table> -->


      <!-- <ion-list>

          <ion-item ng-repeat="list in lists" href="#/items/{{list.id}}">



              <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(list)"></ion-option-button>
          </ion-item>

      </ion-list> -->
    </ion-content>
</ion-view>

<!--

<div ng-controller="MyCtrl">
  <table>
    <tr ng-repeat="item in items" ng-switch on="$index % 3">
      <td ng-switch-when="0">
        {{items[$index].id}} {{items[$index].name}}
      </td>
      <td ng-switch-when="0">
        <span ng-show="items[$index+1]">
          {{items[$index+1].id}} {{items[$index+1].name}}
        </span>
      </td>
      <td ng-switch-when="0">
        <span ng-show="items[$index+2]">
          {{items[$index+2].id}} {{items[$index+2].name}}
        </span>
      </td>
    </tr>
  </table>
</div>
http://stackoverflow.com/questions/21644493/how-to-split-the-ng-repeat-data-with-three-columns-using-bootstrap/21653981#21653981

-->
