<ion-view title="Lists">
  <ion-nav-bar>
  <ion-nav-buttons side="center">
      <button class="right button button-icon icon ion-plus" ng-click="insert()">Click</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
 </ion-nav-buttons>
</ion-nav-bar>
    <ion-content>
      <ion-refresher
           pulling-text="Pull to refresh..."
           on-refresh="doRefresh()">
        </ion-refresher>
      <!-- <table> -->
    <!--  http://codepen.io/anon/pen/VKdBJd-->
          <div class="row header">
           <div class="col">Item Name</div>
            <div class="col">Price</div>
            <div class="col">Unit</div>
            <div class="col">Date</div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>

          </div>

          <div class="row" ng-repeat="list in lists">
            <div class="col">{{list.category_item_name}}</div>
            <div class="col">{{list.category_item_price}}</div>
            <div class="col">{{list.category_item_unit}}</div>
            <div class="col">{{list.category_item_date}}</div>
           <div class="col"><a href="#/itemHistory/{{list.category_item_name}}">Show History</a></div>
           <div class="col"><a ng-click="editRecord('{{list.category_item_name}}',{{list.category_item_price}},{{list.category_item_unit}},'{{list.category_item_date}}',{{list.category_item_id}})">Edit Record</a></div>
           <div class="col"><a href="#/itemHistory/{{list.category_item_name}}">Show History</a></div>
         </div>
    </ion-content>
</ion-view>

<!--

<div ng-controller="MyCtrl">
  <table>
    <tr ng-repeat="item in items" ng-switch on="$index % 3">
      <td ng-switch-when="0">
        {{items[$index].id}} {{items[$index].name}}
      </td>
      <td ng-switch-when="0">
        <span ng-show="items[$index+1]">
          {{items[$index+1].id}} {{items[$index+1].name}}
        </span>
      </td>
      <td ng-switch-when="0">
        <span ng-show="items[$index+2]">
          {{items[$index+2].id}} {{items[$index+2].name}}
        </span>
      </td>
    </tr>
  </table>
</div>
http://stackoverflow.com/questions/21644493/how-to-split-the-ng-repeat-data-with-three-columns-using-bootstrap/21653981#21653981

-->
