<ion-view title="Lists" style="height:80vh;">
  <ion-nav-bar>
  <ion-nav-buttons side="center">
      <button class="right button button-icon icon ion-plus" ng-click="insert()">Click</button>
  </ion-nav-buttons>
</ion-nav-bar>
    <ion-content>
      <ion-list>
          <ion-item ng-repeat="list in lists" href="#/items/{{list.id}}">
            asdfasdfa adfasdfsafsadfasdfsadfsadfsad
              <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(list)"></ion-option-button>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
