<ion-view  title='<img style="margin-left:30%;" class="title-image" src="img/exTracker.png" />'>
  <ion-nav-bar>
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
 </ion-nav-buttons>
</ion-nav-bar>
    <ion-content>
        <span  style="margin-left:30%;"><i>Overview</i></span>
        <ion-list>
           <ion-item>
          <a ng-click="topThree()">Top 3 categories spent in last 180 days</a>
            </ion-item>
            <ion-item>
              <a  ng-click="showTopTenAcrossCat()">Top 200 items for selected period across all categories</a>

            <!--  {{categories.category_id}}-->
             </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
